@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-sub-heading: #ba9a7e;
  --btn-bg-clr: #958679;

  --ff-primary: "Rubik", sans-serif;

  --fs-300: 0.8125rem; /*13px*/
  --fs-400: 0.875rem; /*14px*/
  --fs-500: 0.9375rem; /*15px*/
  --fs-600: 1rem; /*16px*/
  --fs-700: 1.875rem; /*30px*/
  --fs-800: 2.5rem; /*40px*/
  --fs-900: 2.5rem; /*40px*/
}

@media (min-width: 50em) {
  :root {
    --fs-700: 3.5rem;
    --fs-600: 2.5rem;

    --fs-primary-heading: var(--fs-900);
    --fs-secondry-heading: var(--fs-800);

    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

/* Set core body defaults */
body,
html {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.container {
  --max-width: 1280px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
}
.even-columns-img {
  display: grid;
  gap: 1em;
}

.even-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* general styling */
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* nav styles */

.bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  margin-inline: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  transition: all 0.3s ease-in-out;
}
.nav a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  transition: all 0.2s;
  color: #111;
}

.nav__link:hover,
.nav__link:focus {
  color: #ba9a7e;
}

a.btn {
  color: #ba9a7e;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  font-weight: 700;
}

.hamburger {
  cursor: pointer;
  display: none;
  margin: 1rem;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #000000;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  background-color: #fff;

  
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
  background-color: #fff;

}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  background-color: #fff;
}

/* MEDIA QUERIES */
@media (max-width: 1020px) {
  .nav {
    position: fixed;
    top: 0px;
    left: -100%;
    transform: translateX(-50.1%);
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 3rem;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .nav__link {
    font-size: 14px;
    color: #fff;
  }

  .btn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}
/* header */

header .heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;
}

main h2 {
  color: var(--clr-sub-heading);
  font-size: 1.875rem;
  font-weight: 600;
  text-transform: capitalize;
}
main h3 {
  font-size: 1.675rem;
  font-weight: 600;
  text-transform: capitalize;
}

 button.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.4vmax;
  padding: 0.3rem 1.1rem;
  background-color: var(--btn-bg-clr);
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  transition: all .5s ease-in-out;
}
 button.button:hover {
  background-color: #fff;
  color: var(--btn-bg-clr);
}

/* about us */
header .heading div.img {
  height: 90%;
  width: auto;
}
header .heading div.img img {
  height: 100%;
  border-radius: 0 0 3rem;
}

header .heading .heading-text h1 {
  font-size: 2.4rem;
  width: 42%;
  margin-top: 2rem;
  text-transform: capitalize;
  line-height: 1.4;
}
header .heading .heading-text {
  color: #fff;
  max-width: 80%;
  margin-left: 2rem;
}
header .heading .heading-text p {
  font-size: 1.5em;
  margin: 0.5rem 0 0 0;
  font-weight: 100;
}
header .heading .heading-text button {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 0.4vmax;
  padding: 0.4rem 1rem;
  background-color: var(--btn-bg-clr);
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  width: fit-content;
  margin: 3% 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .heading .heading-text {
    color: #fff;
    max-width: 80%;
    margin-left: 2rem;
  }
  header .heading div.img img {
    border-radius: 0 0 3rem;
  }

  header .heading .heading-text h1 {
    font-size: 2rem;
    width: 64%;
    margin: 0.5rem 0;
    text-transform: capitalize;
    line-height: 1.2;
  }
  header .heading .heading-text p {
    font-size: 1em;
    margin: 0.5rem 0 0 0;
  }
  header .heading .heading-text button {
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 0.4vmax;
    padding: 0.4rem 0.5rem;
    background-color: var(--btn-bg-clr);
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    width: fit-content;
    margin: 3% 0;
  }
  .bottom-bar__content {
    margin-inline: 2rem;
  }
}

@media screen and (max-width: 767px) {
  main .about-us .images {
    display: none;
  }
  header .heading div.img img {
    border-radius: 0 0 1rem;
  }
  header .heading .heading-text {
    color: #fff;
    max-width: 80%;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
  }
  header .heading .heading-text h1 {
    font-size: 1.2rem;
    width: 80%;
    margin: 0.5rem 0 0.2rem;
    text-transform: capitalize;
    line-height: 1.2;
  }
  header .heading .heading-text p {
    font-size: 8px;
    line-height: 1.2;
    font-weight: 100;
  }
  header .heading .heading-text button {
    font-size: 8px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 0.4vmax;
    padding: 2px 8px;
    background-color: var(--btn-bg-clr);
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    width: fit-content;
    margin: 0.2rem 0 1em;
  }
  .bottom-bar__content {
    margin-inline: 2rem;
  }
}

/* about-us  */

main .about-us .images {
  width: 80%;
  height: 80%;
  justify-self: end;
}
main .about-us .images .img-small {
  width: 100%;
  height: 80%;
  justify-self: end;
}
main .about-us .images img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .about-us .images {
    align-items: end;
    width: 90%;
    height: 100%;
    justify-content: stretch;
  }
}

/* why us */
/* For screens less than 768px wide, such as mobile devices */

main .why-us {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: left;
  color: #fff;
  display: flex;
  justify-content: end;
  padding: 2.5rem 0;
}

main .why-us .right {
  width: 50%;
  margin-right: 1rem;
}
main .why-us h2 {
  color: #fff;
}

main .why-us .grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main .why-us .grid-list li {
  display: flex;
  justify-content: center;
}

main .why-us .grid-list i.fa-check {
  margin-right: 0.5rem;
  line-height: 1.5;
  color: var(--btn-bg-clr);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main section.why-us div.info p {
    max-width: 90%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  main section.why-us div.info p {
    max-width: 90%;
    font-size: 1rem;
  }
  main .why-us {
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-position-x: 35%;
    background-repeat: no-repeat;
  }
  main .why-us .grid-list li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 767px) {
  main .why-us .right {
    width: 95%;
    margin-left: 1rem;
  }
  main .why-us {
    justify-content: start;
  }
}
/* our-artists */

main .our-artists h2,
main .best-seller h2 {
  color: var(--clr-sub-heading);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

main .our-artists p,
main .best-seller p.my-2 {
  width: 60%;
  font-size: 1rem;
  margin-inline: auto;
}

main .best-seller article p {
  width: 80%;
  margin-inline: auto;
}
main .best-seller article .order {
  display: flex;
  justify-content: space-around;
}
main .best-seller article .order strong {
  font-weight: 600;
}

.card {
  position: relative;
  max-width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 30%;
  height: 100px;
  background-image: url("../images/female-potter-pottery-class.jpg");
  background-size: cover;
  background-position: center;
  align-self: center;
  position: absolute;
  top: -10;
}

main section div.grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

main section div.grid-cards article {
  position: relative;
  box-shadow: 0px 41px 54px -65px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 41px 54px -65px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 41px 54px -65px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

main section div.grid-cards article img {
  border-radius: 1em 1em 0 0;
}
main section div.grid-cards h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: center;
}
main section div.grid-cards p {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
}
main section div.grid-cards .read-more {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #ba9a7e;
  position: relative;
}
main section div.grid-cards .read-more::after {
  content: " ";
  position: absolute;
  width: 25%;
  height: 1px;
  background-color: #ba9a7e;
  top: 90%;
  left: 38%;
}
main section div.grid-cards .read-more a {
  text-decoration: none;
  color: #ba9a7e;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main section div.grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main section.faq div.img-faq {
    display: none;
  }
  main section.even-grid-faq {
    display: block;
  }
  main .best-seller strong {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  main section div.grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main section.faq div.img-faq {
    display: none;
  }
  main section.even-grid-faq {
    display: block;
  }
  main .our-artists p,
  main .best-seller p.my-2 {
    width: 90%;
    font-size: 12px;
    margin-top: 1rem;
    font-weight: 400;
  }
  main section div.grid-cards h3 {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  main section div.grid-cards p {
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
  }
  main section div.grid-cards .read-more {
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: center;
    color: #ba9a7e;
    position: relative;
  }
  main section div.grid-cards .read-more::after {
    content: " ";
    position: absolute;
    width: 52%;
    height: 1px;
    background-color: #ba9a7e;
    top: 90%;
    left: 25%;
  }
  main .best-seller p.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
  }

  main section div.grid-cards p {
    margin: 0.2rem;
    width: 100%;
  }

  main .best-seller button.button {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
  }

  main .best-seller strong {
    font-size: 1rem;
  }
}

/* FAQ */
main section.even-grid-faq .img-faq {
  height: 470px;
  margin-top: 1rem;
}
main section.even-grid-faq .img-faq img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.even-grid-faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

serif {
  background-color: #34495e;
  color: #fff;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* faq */
main .get-in-touch {
  display: flex;
  background-color: #1e1e1e;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  main .get-in-touch {
    display: block;
  }
  section.get-in-touch ul li p {
    width: 100%;
    font-size: 0.8rem;
    line-height: 2.3;
  }
  main section.get-in-touch form input,
  main section.get-in-touch form textarea {
    margin-inline: auto;
  }
  main section.get-in-touch form button {
    margin-left: 5rem;
  }
}
main section.get-in-touch h2,
main section.get-in-touch h3 {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: var(--clr-sub-heading);
}

main section.get-in-touch form input,
main section.get-in-touch form textarea {
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3rem;
  display: block;
  margin-bottom: 0.5rem;
  width: 70%;
  padding: 0.2rem 0.5rem;
}
main section.get-in-touch ul li {
  display: flex;
  margin: 1rem;
}
main section.get-in-touch ul li p {
  color: #fff;
  width: 60%;
}
main section.get-in-touch ul li i {
  background-color: var(--btn-bg-clr);
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Add some spacing between the icon and the text */
}

/* footer */
footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 2em;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .middle {
  justify-self: center;
}

footer .logo {
  justify-self: end;
}

footer h2,
footer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  main section div.grid-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
  main section.faq div.img-faq {
    display: none;
  }
  main section.even-grid-faq {
    display: block;
  }
}

footer p,
footer address {
  font-size: 0.8776rem;
  width: 92%;
  margin-bottom: 0.3rem;
}

footer .icons {
  display: flex;
}
footer .icons img {
  display: inline-block;
  margin-right: 0.8rem;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8776rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}

footer hr {
  width: 84.4%;
  margin: 2rem auto;
}

footer .cpy {
  text-align: center;
  width: 100%;
  padding-bottom: 2rem;
}

/*---------------------------------------------- second page ----------------------------------------------*/

/* img-gallery */

main .Related-article form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  justify-content: space-between;
}
main .Related-article form input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

main .Related-article form input[type="search"]::placeholder {
  color: #bbb;
}

main .Related-article form button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

main .Related-article form button[type="submit"]:hover {
  opacity: 1;
}

header .img-gallery {
  background-image: url(../images/img-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  line-height: 90vh;
  font-size: 12rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .img-gallery {
    font-size: 5rem;
    height: 50vh;
    line-height: 50vh;
  }
}

@media screen and (max-width: 767px) {
  header .img-gallery {
    font-size: 2.4rem;
    height: 50vh;
    line-height: 50vh;
  }
  main .Related-article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

main .even-grid-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

main .main-img-gallery {
  grid-column: 1/4;
}

main .img-gallery {
  border-radius: 0.5rem;
}

main .Related-article {
  justify-self: center;
}

main .images-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
main .Related-article ul li {
  text-decoration: underline;
  padding-bottom: 3px;
  color: #9f9f9f;
  text-align: end;
  letter-spacing: 1.4px;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .Related-article {
    order: -1;
    text-align: center;
  }
  main .even-grid-gallery {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .Related-article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  main .Related-article ul li {
    text-decoration: underline;
    letter-spacing: 0px;
  }

  main .even-grid-gallery-vid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  main .Related-article {
    order: -1;
    text-align: center;
  }
  main .even-grid-gallery {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .Related-article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.64rem;
  }
  main .Related-article ul li {
    text-decoration: underline;
    letter-spacing: 0px;
  }
  main .even-grid-gallery-vid {
    grid-template-columns: 1fr;
  }
}
main .even-grid-gallery-vid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
main .video .video-card article::before {
  position: absolute;
  content: "9k+ views";
  top: 2%;
  left: 2%;
  color: #ffffffbb;
  font-size: 2.3rem;
  font-weight: 600;
}
main .video .video-card article::after {
  position: absolute;
  content: " ";
  top: 30%;
  left: 35%;
  color: #ffffffbb;
  font-size: 2.3rem;
  font-weight: 600;
  background: url(../images/youtube.svg);
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 767px) {
  main .even-grid-gallery-vid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .video .video-card article::before {
    position: absolute;
    content: "9k+ views";
    top: 2%;
    left: 5%;
    color: #ffffffbb;
    font-size: 1.4rem;
    font-weight: 600;
  }
  main .video .video-card article::after {
    top: 20%;
    left: 35%;
    color: #ffffffbb;
    font-size: 2rem;
    width: 50px;
    height: 50px;
  }
  main .even-grid-gallery-vid p {
    font-size: 0.65rem;
  }
}

main .video .video-card article {
  -webkit-box-shadow: 0px 8px 45px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 45px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 45px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

main .video .video-card img {
  border-radius: 1rem;
}

main .video .video-card p {
  padding: 0.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .Related-article {
    order: -1;
  }
}

.Load-more {
  text-align: center;
}

.Load-more span {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

.Load-more span::before,
.Load-more span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  top: 50%;
}

.Load-more span::before {
  left: -15px;
  transform: translateX(-100%);
}

.Load-more span::after {
  right: -15px;
  transform: translateX(100%);
}

/* atelier page */

header .heading-atelier {
  background-image: url(../images/bg-atelier.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
header .heading-atelier h1 {
  font-size: 4rem;
  padding-top: 7rem;
  font-weight: 800;
}
header .heading-atelier h2 {
  font-size: 3.3rem;
  font-weight: 600;
}
header .heading-atelier p {
  text-align: start;

  font-size: 1.4rem;
  width: 70%;
  margin-inline: auto;
}

@media screen and (max-width: 767px) {
  header .heading-atelier {
    height: 60vh;
  }
  header .heading-atelier h1 {
    font-size: 1.4rem;
    padding-top: 3rem;
    font-weight: 600;
  }
  header .heading-atelier h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  header .heading-atelier p {
    text-align: start;

    font-size: 0.8rem;
    width: 80%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .heading-atelier {
    height: 70vh;
  }
  header .heading-atelier h1 {
    font-size: 2.8rem;
  }
  header .heading-atelier h2 {
    font-size: 2.3rem;
  }
}
main .check-in {
  background-image: url(../images/checkin-bg.png);
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 5rem;
}
main .check-in-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main .check-in-info .check-in-text {
  grid-column: 1/3;
  justify-self: end;
  width: 50%;
}
main .check-in-info .check-in-text p {
  line-height: 2;
  width: 80%;
  margin-top: 5rem;
}
main .check-in-info .check-in-text div span {
  margin-right: 5rem;
  font-weight: 600;
}

main .check-in .check-in-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 50%;
}
main .check-in .check-in-img img {
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {
  main .check-in-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .check-in .check-in-img {
    order: -1;
    grid-template-columns: repeat(2, 1fr);
  }
  main .check-in-info .check-in-text {
    width: 100%;
  }
  main .all-workshops h2 {
    font-size: 0.2rem;
  }

  main .check-in-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  main .check-in-info .check-in-text {
    width: 100%;
  }
  main .check-in {
    padding: 1rem;
    background-position: 15%;
  }
  main button.button {
    font-size: 1rem;
  }
  main .check-in-info .check-in-text p {
    line-height: 2;
    width: 100%;
    margin-top: 5rem;
    margin-top: 0;
  }
  main .check-in-info .check-in-text {
    grid-column: 1/4;
    justify-self: end;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .check-in-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .check-in .check-in-img {
    order: -1;
    grid-template-columns: repeat(4, 1fr);
  }
  main .check-in-info .check-in-text {
    width: 80%;
  }
}
main .all-workshops h2 {
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 767px) {
  main .all-workshops h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .all-workshops h2 {
    font-size: 2rem;
  }
}
main .all-workshops .workshop-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 30vw);
  gap: 0.3rem;
}

main .all-workshops .workshop-img img {
  border-radius: 1rem;
  object-fit: cover;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--7 {
  grid-column-start: 2;
  grid-column-end: 4;
}

main .form {
  background-color: #000;
}

main .form h2 {
  color: #fff;
  text-align: center;
}
main .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .form form .sing-up {
  align-self: flex-start;
}
main .form form svg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
main .form input,
main .form textarea {
  background-color: #d9d9d9;
  border: none;
  border-radius: 0.3rem;
  display: block;
  margin-bottom: 1rem;
  width: 50%;
  padding: 0.6rem 0.5rem;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
